.Container{
  text-align: center;
  border:2px solid #2200ff34;
 margin-left: 100px;
  width:20rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #fff71149;
  border-radius:20px;
}
img{
  height:300px;
  width: 300px;
  margin-top:20px;
  border-radius:20px;
}
.page{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  /* align-items: center; */
  gap:10rem;

 
}
body{
  background: #00ff7b2d; 
}